
# Arquivos gerados pelo deploy 
build/
main

# Diretório com os dados dos artistas e músicas
data/

# Arquivos gerados pelo repositório
playlists.bin
relatorio_artistas.csv
relatorio_musicas.csv

# Saida do valgrind gerada por meio do Makefile
valgrind-out.txt
